extends ../../layout

block content
    .container
        .row
            form.form-horizontal(method="post", action="/admin/movie", enctype="multipart/form-data")
                if movie._id
                    input(type="hidden", name="_id", value=movie._id)
                    input(type="hidden", name="oldCategory", value=movie.category)
                .form-group
                    label.col-sm-3.control-label(for="douban")  豆瓣同步
                    .col-sm-9
                        input#douban.form-control(type="text")
                .form-group
                    label.col-sm-3.control-label(for="inputCategory")  电影分类
                    .col-sm-9
                        input#inputCategory.form-control(type="text", name="categoryName", value=movie.categoryName)
                .form-group
                    label.col-sm-3.control-label 分类选择
                    .col-sm-9
                        if categories && categories.length > 0
                            each cat in categories
                                    label.radio-inline
                                        if movie._id
                                            input(type='radio', name='category', value=cat._id, checked=cat._id.toString() === movie.category.toString())
                                        else
                                            input(type='radio', name='category', value=cat._id)
                                        | #{cat.name}
                .form-group
                    label.col-sm-3.control-label(for="inputTitle")  电影名字
                    .col-sm-9
                        input#inputTitle.form-control(type="text", name="title", value=movie.title)
                .form-group
                    label.col-sm-3.control-label(for="inputDoctor")  导演
                    .col-sm-9
                        input#inputDoctor.form-control(type="text", name="doctor", value=movie.doctor)
                .form-group
                    label.col-sm-3.control-label(for="inputCountry")  国家
                    .col-sm-9
                        input#inputCountry.form-control(type="text", name="country", value=movie.country)
                .form-group
                    label.col-sm-3.control-label(for="inputLanguage")  语种
                    .col-sm-9
                        input#inputLanguage.form-control(type="text", name="language", value=movie.language)
                .form-group
                    label.col-sm-3.control-label(for="inputPoster")  海报地址
                    .col-sm-9
                        input#inputPoster.form-control(type="text", name="poster", value=movie.poster)
                .form-group
                    label.col-sm-3.control-label(for="uploadPoster")  海报上传
                    .col-sm-9
                        input#uploadPoster(type="file", name="uploadPoster")
                .form-group
                    label.col-sm-3.control-label(for="inputFlash")  片源地址
                    .col-sm-9
                        input#inputFlash.form-control(type="text", name="flash", value=movie.flash)
                .form-group
                    label.col-sm-3.control-label(for="inputYear")  上映年代
                    .col-sm-9
                        input#inputYear.form-control(type="text", name="year", value=movie.year)
                .form-group
                    label.col-sm-3.control-label(for="inputSummary")  电影简介
                    .col-sm-9
                        input#inputSummary.form-control(type="text", name="summary", value=movie.summary)
                .form-group
                    .col-sm-offset-3.col-sm-9
                        button.btn.btn-default(type="submit") 录入
    script(src="/js/admin.js")